pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/
.DS_Store
.lsp/
config.edn
config.prod.edn
upload/
output.md
test-*.clj
output/
*.calva-repl
test/logs/
python-tools-system/
.calva/
.calva/output-window/output.calva-repl

test_tools_api.sh
*.bak
clojure-client-*/.lck
*.log
*.pyc
*.db
.env
